.header_left {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.header_right {
    display: flex;
    justify-content: flex-end;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav_header {
    display: flex;
    align-items: center;
}

.header_left h2 {
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header_left span {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header_item a {
    display: inline-flex;
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
    position: relative;
}

.header_right a {
    display: inline-flex;
    padding: 30px;
    color: #757575;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: 0.2s;
    align-items: center;
}

.header_right i {
    display: inline-flex;
    padding-right: 10px;
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    background: #FFFFFF;
    z-index: 100;
}

.header_item a:hover {
    color: #2196F3;
}

.header_item a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -32px;
    background-color: #2196F3;
    border-radius: 2px;
    transform: scaleX(0);
    transition: 0.2s;
}

.header_item a:hover::before {
    width: 100%;
    transform: scaleX(1);
}

.header_item {
    padding: 30px;
}

.header_right a:hover {
    color: #2196F3;
}