.team {
    background: #F5F4FA;
    height: 710px;
}

.team h2 {
    color: #212121;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin: 0;
    padding: 100px 0 0 0;
}

.team_list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.team_item img {
    width: 270px;
    height: 260px;
}

.team_item {
    width: 270px;
    height: 428px;
    border-radius: 0 0 4px 4px;
    background: #FFF;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.20), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team_item h4, h5 {
    margin: 0;
}

.team_item h4 {
    color: #212121;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    padding-top: 30px;
}

.team_item h5 {
    color: #757575;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    padding-top: 10px;
}